.nav-right .nav-right-list li {
    display: list-item;
    list-style-position: outside;
    margin-bottom: 0.5em;
}
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Aria, sans-serif;
    background: #ffffff;
    color: #222;
}

